@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Roboto&display=swap');

a {
    color: inherit;
}

.Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    border: 5px;
    border-color: black;
    background-image: radial-gradient(rgb(253, 253, 253), rgb(189, 101, 0))
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 100px;
    text-align: center;
    margin: 0px;
    color: black
    
}

.Container {
    display: flex;
    justify-content: space-between;
}

.Brand {
    max-width: 400px;
    margin: 0px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(189, 101, 0);
    background-color: rgb(231, 117, 72);
}

.Brand h1 {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    margin: 10px;
}

.Brand img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 350px;
    border-style: outset;
    border-width: 10px;
    border-radius: 50px;
    border-color: gray;
}

.Brand p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 0px;
}

.Rows {
    width: 75%;
}

.Row {
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(189, 101, 0);
}

.Row img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    size: 200%;
    margin: 10px;
    border-style: outset;
    border-width: 10px;
    border-radius: 50px;
    border-color: gray
}

.Row p {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    margin: 10px;
    text-align: left;
    background-image: linear-gradient( to right, white, azure, transparent);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.A {
    background-position: 10%;
    background-image: url(Explosion.jpg);
    background-size: 100%;
}

.B {
    background-image: url(Blue\ Meth.avif);
    background-size: 100%;
}

.C {
    background-image: url(Hostages.jfif);
    background-size: 100%;
    background-position: 5%;
}

title {
    margin-top: 40px;
}


.RecipeHeading h1 {
    font-family:'Playfair Display SC', serif;
    display: flex;
    align-self: center;
    flex-direction: column;
    font-size: 70px;
}

.RecipeHeading img {
    align-self: center;
}