@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

.Heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    border: 5px;
    border-color: black;
    background-image: radial-gradient(rgb(253, 253, 253), rgb(189, 101, 0))
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 100px;
    text-align: center;
    margin: 0px;
    color: black
    
}

.Container {
    display: flex;
}

.Brand {
    margin: 5%;
}

.Rows {
    width: 75%;
}

.Row {
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(189, 101, 0);
}

.Row img {
    size: 200%;
    margin: 10px;
    border-style: outset;
    border-width: 10px;
    border-radius: 50px;
    border-color: gray
}

.Row p {
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    margin: 10px;
    text-align: left;
    background-image: linear-gradient( to right, white, azure, transparent);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.A {
    background-position: 10%;
    background-image: url(Explosion.jpg);
    background-size: 100%;
}

.B {
    background-image: url(Blue\ Meth.avif);
    background-size: 100%;
}

.C {
    background-image: url(Hostages.jfif);
    background-size: 100%;
    background-position: 5%;
}